name: zulip_workflow

on:
  schedule:
    - cron: '*/5 * * * *'    
    
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test-env

    steps:      
      - uses: actions/checkout@v4

      - name: Make the scripts executable
        run: chmod +x post-msg.sh

      - name: Post message by user ids
        env: 
          ORG_NAME: ${{ vars.ORG_NAME }}
          RECEIVER_ID: ${{ secrets.RECEIVER_ID}}
          SENDER_API_KEY: ${{ secrets.SENDER_API_KEY }}
          SENDER_EMAIL_ADDRESS: ${{ secrets.SENDER_EMAIL_ADDRESS }}
        run: ./post-msg.sh
